/*Styling for the font of entire document*/
html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Styling for document body*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

/*Styling for page header*/
.headContainer {
    background-color: #222222;
    padding: 0% 10%;
    display: flex;
}

#pageHeader {
    flex: 1;
}

#pageHeader a {
    color: #A76BCE;
    text-decoration: none;
}

#pageHeader h4 {
    color: white;
    font-weight: normal;
}

/*Styling for page navigation*/
#topNavigation {
    align-content: center;
    flex: 2.5;
}

#topNavigation ul {
    display: flex;
    list-style-type: none;
}

#topNavigation li {
    flex: 1;
}

#topNavigation a {
    text-decoration: none;
}

#topNavigation button {
    border: 0.15em solid white;
    font-size: larger;
    width: 8em;
    height: 3em;
    background-color: #333333;
    color: white;
    border-radius: 10px;
}

#topNavigation button:hover {
    box-shadow: 2em 0 4em #A76BCE, -2em 0 4em #7F00FF;
}

/*Styling for page content*/
main {
    color: black;
    font-size: larger;
    background-image: linear-gradient(to bottom right, #BF94E4, #7F00FF);
    padding: 0 10% 4% 10%;
    flex-grow: 1;
}

/*Styling for movie page*/
.movie-row {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.movie-card {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.movie-card img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.movie-card img:hover {
    transform: scale(1.05);
}

.overlay {
    border-radius: 7px;
    position: absolute;
    width: 300px;
    height: 500px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.2));
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay h3 {
    padding: 0 2% 0 2%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.overlay h5 {
    padding: 0 5% 0 5%;
    color: white;
    font-weight: bold;
}

.movie-card .overlay:hover {
    opacity: 1;
}

.overlay button {
    border: none;
    font-size: larger;
    font-weight: bolder;
    height: 2.2em;
    width: 11em;
    background-image:linear-gradient(to bottom right, #A76BCE, #7F00FF);
    color: white;
    border-radius: 8px;
}

.overlay a {
    text-decoration: none;
    color: white;
}

/*Styling for page footer*/
#pageFooter {
    background-color: #222222;
}

#pageFooter h3, #pageFooter h5{
    color: white;
    font-weight: normal;
}

#pageFooter a {
    color: white;
    text-decoration: none;
}

#pageFooter a:hover {
    color: #BF9EDC;
}

.footerContainer {
    display: flex;
    padding: 0% 20%;
}

.footerContainer div {
    flex: 1;
}