/*Styling for the font of entire document*/
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    height: 100%;
}

.foreground {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 10px solid #222222;
    padding: 1% 1% 1% 1.5%;
    border-radius: 10px;
    background-color: #9b53e3;
    color: black;
    font-weight: 500;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.35);
}

/*Styling for document body*/
body {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*Styling for page content*/
main {
    display: flex;
    flex: auto;
    flex-direction: column;
    color: black;
    font-size: larger;
    background-image: linear-gradient(to bottom, #BF94E4, #7F00FF);
}

.container {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
    padding-bottom: 5%;
}

.containerHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 100%;
}

.titleHeder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
}

/*Styling for page header*/
.headContainer {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    padding: 0 10%;
}

.pageHeader {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.pageHeader a {
    color: #A76BCE;
    text-decoration: none;
}

.pageHeader h4 {
    color: white;
    font-weight: normal;
}

/*Styling for page navigation*/
.topNavigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.topNavigation button {
    border: 0.15em solid white;
    font-size: larger;
    width: 8em;
    height: 3em;
    background-color: #333333;
    color: white;
    border-radius: 10px;
    transition: box-shadow 0.4s ease;
    margin: 0.5em 0.5em;
    cursor: pointer;
}

.topNavigation button:hover {
    box-shadow: 1em 0 2em #A76BCE, -1em 0 2em #7F00FF;    color: #A76BCE;
    color: white;
    border-color: #A76BCE;
}

/*Styling for page footer*/
.footerContainer {
    display: flex;
    flex-direction: column;
    background-color: #222222;
}

.footerContainer hr {
    border-bottom: 2px solid #ffffff;
    width: 99%;
}

.footerInfoContainer {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0 10%
}

.footerInfoContainer #footerNavigation {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin:0;
}

.footerInfoContainer #footerInfo {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.footerInfoContainer #footerDetail {
    text-align: end;
}

.footerInfoContainer a {
    color: white;
    text-decoration: none;
}

.footerInfoContainer a:hover {
    color: #BF9EDC;
    text-decoration: underline;
}

/*Styling for movie page*/
#movieContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0.5em 0.5em;
    box-sizing: border-box;
}

.movie-card.fade-in {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
        transform: translate(20px);
	}
	100% {
		opacity: 1;
        transform: translate(0);
	}
}

.movie-card img {
    max-width: 250px;
    max-height: 450px;
    width: 250px;
    height: 450px;
    flex-shrink: 1;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.5);
}

.wishlist-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: 20px solid #222222;
    border-radius: 10px;
    background-color: #9b53e3;
    color: black;
    font-weight: 500;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.35);
    width: min-content;
    height: min-content;
    margin: 1em;
}

.wishlist-card:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease-in-out;
}

.wishlist-card .movie-card:hover {
    transform: scale(1.00);
}

.movie-overlay {
    border-radius: 7px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.3));
    opacity: 0;
    transition: opacity 0.3s ease;
}

.movie-overlay h3 {
    padding: 0 2% 0 2%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.movie-overlay h5 {
    padding: 0 5% 0 5%;
    color: white;
    font-weight: bold;
}

.movie-card .movie-overlay:hover {
    opacity: 1;
}

.movie-overlay button {
    border: none;
    font-size: larger;
    font-weight: bolder;
    height: 2.2em;
    width: 10em;
    background-image:linear-gradient(to bottom right, #A76BCE, #7F00FF);
    color: white;
    border-radius: 8px;
    transition: box-shadow 0.4s ease;
    cursor: pointer;
}

.movie-overlay button:hover {
    box-shadow: 2em 0 4em #9d00ff, -2em 0 4em #7b00ff;
}

.movie-overlay a {
    text-decoration: none;
    color: white;
}

.movieInfoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
}

#movieInfo {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 1em 0;
    min-width: 25%;
    width: min-content;
    height: min-content;
    background-color: #222222;
    border-radius: 30px;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.35);
}

#movieDetail {
    width: 300px;
    color: #ffffff;
    padding: 5% 10px;
}

#movieDetail h5 {
    margin: 1em 0;
}

#movieInfo img {
    width: 300px;
    height: 562px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.4s ease;
    box-shadow: 0 0 1em  #4d0a8f;
    padding: 0;
    margin: 0;
}

#movieInfo img:hover {
    transform: scale(1.05);
}

#movieInfo button {
    margin: 0.5em 0;
    box-sizing: border-box;
}

#moviePlot {
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 0 5%;
    min-width: 75%;
    width: min-content;
    height: min-content;
    box-sizing: border-box;
}

#moviePreview {
    display: flex;
    flex: auto;
    min-width: 250px;
    aspect-ratio: 16/9;
}

#moviePlot div a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#moviePlot div a:hover {
    text-decoration: underline;
}

.detailButton {
    border: 0.15em solid #A76BCE;
    font-size: larger;
    width: 10em;
    height: 3em;
    background-color: #333333;
    color: white;
    border-radius: 10px;
    transition: box-shadow 0.4s ease;
    cursor: pointer;
}

.detailButton:hover {
    box-shadow: 1em 0 2em #a719ff, -1em 0 2em #4d0a8f;
}

/*Styling for purchase page*/
.ticketDetail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#ticketAmount {
    width: 7%;
    text-align: center;
    border: none;
    background: none;
    font-weight: 800;
    color: #FFFFFF;
}

.selectButton {
    border: 0.15em solid #A76BCE;
    font-size: larger;
    width: 2em;
    height: 2em;
    background-color: #333333;
    color: white;
    border-radius: 10px;
    transition: box-shadow 0.4s ease;
}

.selectButton:hover {
    box-shadow: 1em 0 2em #a719ff, -1em 0 2em #4d0a8f;
}

.movie-filter-button {
    width: 200px; 
    margin: 0 0;
    font-size: medium;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.35);
}

.movie-filter-button.active {
    background-color: #9b53e3;
    border-color: #ffffff;
}

.payment-options {
    display: flex;
    gap: 7%;
    margin-top: 5%;
}

.payment-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.payment-option input[type="radio"] {
    display: none;
}

.payment-option img {
    width: 75px;
    height: auto;
    border: 3px solid transparent;
    border-radius: 8px;
    transition: box-shadow 0.2s ease;
    background-color: #FFFFFF;
}

.payment-option input[type="radio"]:checked + img {
    border-color: red;
    box-shadow: 1em 0 2em #a719ff, -1em 0 2em #4d0a8f;
}

.purchaseContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
}

#purchaseInfo {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 1em 0;
    margin: 0 3% 3% 0;
    min-width: 30%;
    width: min-content;
    height: min-content;
    background-color: #222222;
    color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.35);
}

.purchaseContainer h1 {
    color: #ffffff;
}

#paymentInfo img {
    width: 300px;
    height: 562px;
    object-fit: cover;
    border-radius: 10px;
}

#paymentInfo hr {
    height: 2px; 
    background-color: #222222;
    border: none;
}

.makePayment {
    border: 0.15em solid #A76BCE;
    font-size: larger;
    width: 15em;
    height: 3em;
    background-color: #333333;
    color: white;
    border-radius: 10px;
    transition: box-shadow 0.4s ease;
}

.makePayment:hover {
    box-shadow: 1em 0 2em #a719ff, -1em 0 2em #4d0a8f;
}

.gatewayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 100%;
}

#gatewayInfo {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 1em 1em;
    background-color: #222222;
    color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.35);
}


#paymentButton {
    border: 0.15em solid #9b53e3;
    font-size: larger;
    width: 8em;
    height: 3em;
    background-color: #333333;
    color: white;
    border-radius: 10px;
    transition: box-shadow 0.4s ease;
}

#paymentButton:hover {
    box-shadow: 1em 0 2em #A76BCE, -1em 0 2em #7F00FF;
}

/*Styling for my ticket page*/
#ticketContainer {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
}

.ticket-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    background-color: #9b53e3;
    color: black;
    font-weight: 500;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.35);
    width: min-content;
    height: min-content;
}

.ticketTransaction{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    background-color: #222222;
    width: min-content;
    margin: 1em;
}

.ticketTransaction .ticketH5 {
    color: #ffffff;
    font-size: x-large;
    margin: 0.5em;
}

.ticketTransaction:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.ticketTransaction:hover .movie-card:hover{
    transform: scale(1.00);
}

.ticketDetail {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    min-height: 100%;
}

.viewTicket {
    border: 0.15em solid #A76BCE;
    font-size: larger;
    width: 10em;
    height: 3em;
    background-color: #333333;
    color: white;
    border-radius: 10px;
    transition: box-shadow 0.4s ease;
}

.viewTicket:hover {
    box-shadow: 1em 0 2em #a719ff, -1em 0 2em #4d0a8f;
}

.ticketInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    height: min-content;
    border-left: 10px solid #222222;
    padding: 1% 1% 1% 1.5%;
    border-radius: 10px;
    background-color: #9b53e3;
    color: black;
    font-weight: 500;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.35);
    margin: 1em;
    box-sizing: border-box;
}

/*Contact For Formatting*/
.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2%; 
}

.contact-form {
    flex: 1;
    width: auto;
}
.contact-form h2 {
    color: #000000;
    font-size: 1.5rem;
}

.contact-form button {
    box-sizing: border-box;
    border: 0.15em solid #A76BCE;
    font-size: larger;
    width: 500px;
    height: 3em;
    background-color: #222222;
    color: white;
    border-radius: 10px;
    cursor: pointer;   
}

.form-input,
.form-textarea {
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-textarea {
    height: 150px;
}

/* Contact Information Section */
.contact-info {
    flex: 1;
    margin-left: 2%;
}

.contact-info h2 {
    color: #000000;
    font-size: 1.5rem;
}

.contact-info p {
    font-size: 1rem;
    color: #000000;
}

.contact-info strong {
    font-weight: bold;
}

/* Map Styling */
.map iframe {
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 10px;
}

/* Social Media Links */
.social-media {
    margin-top: 30px;
}

.social-media ul {
    list-style-type: none;
}

.social-media li {
    margin: 5px 0;
}

.error {
    color: rgb(255, 0, 0);
    font-size: 20px;
    display: block;
}

.is-invalid {
    border-color: #e11d48;
    outline: none;
}

.social-icons {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 40px;  /* Adjust size to 40px */
    height: 40px; /* Maintain square shape */
    object-fit: contain; /* Ensure aspect ratio is maintained */
}

/* Styling for Login Form*/
.loginContainer {
    display: flex;
    flex: auto;
    position: relative;
    background-color: #222222;
    border-radius: 30px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.35);
    overflow: hidden;
    min-width: 300px;
    max-width: 100%;
    min-height: 500px;
    aspect-ratio: 2/1;
    margin-top: 5%;
}

.loginContainer p {
    font-size: medium;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 5% 0 5% 0;
}

.loginContainer errorText {
    color: #ff0000;
    font-weight: 1000;
    font-size: large;
}

.loginContainer span {
    font-size: medium;
}

.loginContainer button {
    background-color: #7F00FF;
    color: #ffffff;
    font-size: smaller;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5%;
    cursor: pointer;
    padding: 1em 1em;
}

.loginContainer button.hidden {
    background-color: transparent;
    border-color: none;
}

.loginContainer button:hover {
    box-shadow: 0 0 2em #9d00ff;
}

.loginContainer form {
    background-color: #222222;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2em;
    height: 100%;
}

.loginContainer input {
    background-color: #dddddd;
    border-style: none;
    border-left: 5px solid #a719ff;
    border-radius: 10px 0 0 10px;
    margin: 0.5em 0;
    padding: 1.2em 1em;
    font-size: small;
    width: 100%;
    outline: none;
}

.form-loginContainer {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.loginContainer.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.loginContainer.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.toggle-loginContainer {
    position: relative;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 50px 0 0 50px;
    z-index: 1000;
}

.loginContainer.active .toggle-loginContainer {
    transform: translateX(-100%);
    border-radius: 0 50px 50px 0;
}

.toggle {
    background-color: #752fbb;
    height: 100%;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.loginContainer.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-loginContainer button {
    background-color: #222222;
}

.toggle-left {
  transform: translateX(-200%);
}

.loginContainer.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.loginContainer.active .toggle-right {
  transform: translateX(200%);
}

/* Styling for User Profile*/
.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    background-color: #222222;
    color: #ffffff;
    border-radius: 50px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    margin: 5% 0 3% 0;
    padding: 2% 20%;
}

.profileContainer h1 {
    color: #9d00ff;
}

.profileContainer form {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

.profileContainer label {
    display: flex;
    flex-direction: row-reverse;
    font-size: larger;
    font-weight: 1000;
    width: 20%;
}

.profileContainer .inputField {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    min-width: 100%;
    text-align: right;
}

.profileContainer .errorField {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.inputField input {
    display: flex;
    background-color: #dddddd;
    border-style: none;
    border-left: 5px solid #a719ff;
    border-radius: 10px 0 0 10px;
    font-size: larger;
    width: 80%;
    outline: none;
    box-sizing: border-box;
    margin: 1em 1em;
    padding: 1em 1em;
    box-sizing: border-box;
}

.errorField errorText {
    color: #ff0000;
    font-weight: 1000;
    font-size: 24px;
}

#buttonRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}

#buttonRow a {
    margin-bottom: 1em;
    box-sizing: border-box;
    
}

#buttonRow button {
    border: 0.15em solid #A76BCE;
    font-size: larger;
    min-width: 20em;
    height: 3em;
    background-color: #222222;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#buttonRow button:hover {
    box-shadow: 0 0 2em #9d00ff;
}

#buttonRow a {
    text-decoration: none;
}

#buttonRow button:hover {
    background-color: #a76bce;
}

#buttonRow #logout {
    border-color: #ad1919;
    color: #ad1919;
}

#buttonRow #logout:hover {
    box-shadow: 0 0 2em #ad1919;
}

#buttonRow #logout:hover {
    background-color: #ad1919;
    color: #ffffff;
}

/*Styling for movie Showtimes in HomePage*/
.home-movie-row {
    display: flex;
    gap: 20px;
    scroll-snap-type: x mandatory;
    padding: 1.5% 0;
    box-sizing: border-box;
    will-change: transform;
    animation: scrolling 30s linear infinite;
}

.movie-card-row {
    display: flex;
    flex: 0 0 100%;
    gap: 20px;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    padding: 1.5% 0;
}

.homeInfo {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Movie Card */
.Mmovie-card {
    flex: 0 0 auto;
    width: 200px;
    scroll-snap-align: start;
    background: #222;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

/* Movie Poster */
.home-movie-row-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@keyframes scrolling {
    0% {
        transform: translateX(0); 
    }
	100% { 
        transform: translateX(calc(-100%/2));
    }
}

/* Arrows under HomePage movie showtime*/
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    padding: 1%;
    cursor: pointer;
    font-size: 2em;
    border-radius: 50%;
    z-index: 2;
    transition: background 0.3s ease;
}

.arrow:hover {
    background: rgba(0,0,0,0.9);
}

.arrow.left {
    left: 1%;
}

.arrow.right {
    right: 1%;
}